* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    background-color: #212121;
  }
    .navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
  }
   .toggle-btn {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .toggle-btn span {
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background: rgb(212, 64, 101);
    transition: 1s;
  }