* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(8, 8, 8);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }