* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(8, 8, 8);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
  }
   .container {
    background: white;
    padding: 5rem;
    border-radius: 5px;
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 40px;
  }
   .special {
    background: crimson;
    padding: 5px 20px;
    color: #fff;
  }
  
  .form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
  }