body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
   .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: #5c6fda;
    clip-path: circle(20px at calc(100vw - 5vw) 31px);
    transition: clip-path 0.5s;
  }
  
  .menu li {
    position: relative;
    z-index: 5;
  }
    .menu a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    padding: 5px;
  }