* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
   header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#0093e9, #80d0c7);
    display: flex;
    justify-content: center;
    align-items: center;
  }