* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
   header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#0093e9, #80d0c7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selector {
    width: 350px;
  }
  #selectField {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  #selectField img {
    width: 12px;
    transition: transform 0.5s;
  }
   
  #list {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
  }